.header{
    margin-top: 60px;
}
.headerTitles{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Josefin Sans', sans-serif;
    color:black;
}

.headTitleLg{
    top:18%;
    font-size: 30px;    

}
.headerTitleSm{ 
    position: absolute;
    top: 18%;
    font-size: 20px;

}